/* ACCOUNT PAGE */

/* User Info Container Styles */
.UserInfoContainer {
  background-color: rgb(32, 13, 51);
  border: 3px solid #000000;
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px #000000;
  width: 70vw;
  max-width: 1200px; /* Set a maximum width to prevent overly wide layouts */
  height: 400px;
  margin: 5vh auto; /* Center container horizontally and add vertical margin */
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive grid layout */
  align-items: center;
  padding: 20px; /* Internal spacing */
}

/* Account Image Styles */
.AccountImage {
  width: 100%;
  max-width: 300px; /* Limit maximum size */
  height: auto;
  aspect-ratio: 1/1; /* Maintain aspect ratio */
  border-radius: 50%; /* Circular image */
  box-shadow: 10px 10px 0px 0px #000000;
  margin: 0 auto; /* Center the image */
}

/* Header and Info Text Styles */
.UserInfoHeader,
.UserInfo {
  color: white;
  text-align: center; /* Center text for better readability */
  padding: 10px; /* Add padding for spacing */
}

.UserInfoHeader {
  font-size: 2rem; /* Responsive font size */
}

.UserInfo {
  font-size: 1.5rem; /* Responsive font size */
}

/* Media Queries for additional responsiveness */
@media (max-width: 768px) {
  .UserInfoContainer {
    grid-template-columns: 1fr; /* Stack elements in a single column on small screens */
    height: auto; /* Adjust height to content */
    padding: 10px; /* Reduce padding on smaller screens */
  }

  .AccountImage {
    max-width: 200px; /* Smaller image on small screens */
  }

  .UserInfoHeader,
  .UserInfo {
    font-size: 1.25rem; /* Slightly smaller font size on mobile */
  }
}

/* Username and Password Container Styles */
.UsernameAndPasswordContainer {
  color: white;
  margin: 100px auto 0; /* Top margin and centered horizontally */
  background-color: rgb(32, 13, 51);
  border: 3px solid #000000;
  box-shadow: 10px 10px 0px 0px #000000;
  border-radius: 25px;
  width: 70vw;
  text-align: center;
  max-width: 1200px; /* Max width to prevent overly wide forms */
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* View Order History Container Styles */
.ViewOrderHistoryContainer {
  margin: 100px auto 0; /* Top margin and centered horizontally */
  background-color: rgb(32, 13, 51);
  border: 3px solid #000000;
  box-shadow: 10px 10px 0px 0px #000000;
  border-radius: 25px;
  width: 70vw;
  max-width: 1200px; /* Max width to prevent overly wide forms */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* Responsive Font Size Adjustments */
@media (max-width: 768px) {
  .UsernameAndPasswordContainer,
  .ViewOrderHistoryContainer {
    width: 90vw; /* Adjust width for smaller screens */
    height: auto; /* Auto height for better flexibility */
    padding: 20px; /* Padding for internal spacing */
    font-size: 20px; /* Adjust font size for readability on smaller devices */
  }
}

/* View Order History Button Styles */
.ViewOrderHistoryButton {
  height: 75px; /* Fixed height */
  width: 200px; /* Fixed width */
  text-align: center;
  font-size: 20px; /* Large enough font size for readability */
  box-shadow: 10px 10px 0px 0px #000000;
  background-color: transparent; /* Default background color */
  color: white; /* Text color */
  border: none; /* No border unless you need one */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Use inline-block for alignment purposes */
  margin: 20px; /* Margin for spacing around the button */
}

.ViewOrderHistoryButton:hover {
  background-color: #ffffff; /* White background on hover */
  color: rgb(32, 13, 51); /* Contrast text color on hover */
  box-shadow: 10px 10px 0px 0px #ffffff; /* White shadow to match the background */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .ViewOrderHistoryButton {
    width: 100%; /* Full width on smaller screens for better touch accessibility */
    max-width: 300px; /* Maximum width to keep button size reasonable */
    font-size: 18px; /* Slightly smaller font size on smaller devices */
    padding: 10px 20px; /* Adequate padding for touch targets */
  }
}

/* Add Money to Account Container Styles */
.AddMunnyToAccountContainer {
  color: white;
  background-color: rgb(32, 13, 51);
  border: 3px solid #000000;
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px #000000;
  width: 70vw;
  max-width: 1200px; /* Cap the maximum width to maintain aesthetics */
  height: 500px;
  margin: 100px auto 0; /* Center the container and add top margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem; /* Adjusted font size for better scaling */
  padding: 20px; /* Padding for internal spacing */
}

/* Money Input Container for better alignment */
.MoneyInputContainer {
  width: 100%; /* Full width to use container's width */
  max-width: 300px; /* Max width for the input field */
  margin: 0 auto; /* Center the elements horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure everything inside this container is centered */
}

/* Money Input Styles */
.MoneyInput {
  width: 100%; /* Full width for responsiveness */
  height: 50px;
  box-shadow: 10px 10px 0px 0px #000000;
  font-size: 20px; /* Font size for readability */
  margin-bottom: 20px; /* Space below the input field */
}

/* Add Money Button Styles */
.AddMoneyButton {
  width: 100%; /* Full width for responsiveness */
  height: 50px; /* Increased height for better touch interaction */
  box-shadow: 10px 10px 0px 0px #000000;
  font-size: 20px;
  cursor: pointer; /* Cursor pointer to indicate clickable */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .AddMunnyToAccountContainer {
    width: 90vw; /* Adjust width for smaller screens */
    font-size: 1.5rem; /* Decrease font size on smaller devices */
    padding: 10px; /* Reduce padding */
  }

  .MoneyInput,
  .AddMoneyButton {
    font-size: 18px; /* Smaller font size for smaller screens */
  }
}
/* Address Container Styles */
.AddressContainer {
  color: white;
  background-color: rgb(32, 13, 51);
  border: 3px solid #000000;
  border-radius: 25px;
  box-shadow: 10px 10px 0px 0px #000000;
  width: 70vw;
  max-width: 1200px; /* Cap the maximum width to maintain aesthetics */
  height: 350px;
  margin: 100px auto 0; /* Center the container horizontally and add top margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* Adjusted font size for better scaling */
  padding: 20px; /* Padding for internal spacing */
}

/* Responsive Font Size Adjustments */
@media (max-width: 768px) {
  .AddressContainer {
    width: 90vw; /* Adjust width for smaller screens */
    font-size: 1.5rem; /* Decrease font size on smaller devices */
    padding: 10px; /* Reduce padding */
  }
}

/* User Password Styles */
.userpassword {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0); /* Ensure text color contrasts with background */
  padding: 10px 20px; /* Adequate padding for touch targets */
  border: none; /* Assuming no border is needed */
  width: 100%; /* Full width to match container */
  max-width: 300px; /* Maximum width to keep manageable size */
  margin: 0 auto; /* Center horizontally */
}

.userpassword:hover {
  color: rgb(255, 255, 255); /* Semi-transparent black for hover */
  background-color: #92929200;
}

/* END ACCOUNT PAGE */
