/* TOP NAV BAR */
.TopNav {
  background-color: rgb(167, 196, 170);
  margin: 0;
  height: 3vh;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-left: 40%;
}
.TopNavLinks {
  color: black;
  text-decoration: none;
  padding-top: 5px;
}
.searchBarForm {
  margin-left: 200px;
  display: flex;
  align-items: center;
}
.SearchBarButton {
  margin-right: 10px;
}
.SearchBar {
  margin-right: 300px;
}
.SearchBarButton {
  width: 20px;
}
.SearchBarButton:hover {
  cursor: pointer;
}
.CartImageIcon {
  width: 40px;
  margin-left: 20rem;
  position: relative;
  top: -8px;
}
html {
  background-color: rgb(210, 227, 210);
}

.TopNavTwo {
  height: 10vh;
  display: flex;
  align-items: center;

  padding-left: 63vw;
  gap: 2px;
}

.TopNavTwoLinks {
  background-color: white;
  color: black;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
/* PRODUCT DISPLAY */

.ProductDisplayContainer {
  background-color: rgb(185, 219, 190);
  width: 70vw;
  height: 700px;
  margin-left: 13%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.displayImage {
  width: 500px;
  margin-top: 90px;
}

.ProductDisplayInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 200px;
  text-align: justify;
}
/* HOME PAGE */
.HomePageProductsContainer {
  width: 81.5vw;
  height: auto;
  margin-left: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ProductContainer {
  width: fit-content;
  margin-left: 4.25vw;
  position: relative;
}
.HomePageProductImage {
  width: 230px;
  margin-top: 7vh;
  z-index: 2;
}
.HomePageProductImage:hover {
  cursor: pointer;
}
.ImageOverlay {
  cursor: pointer;
  position: absolute;
  margin-top: 7vh;
  top: 0;
  left: 0;
  width: 230px;
  height: 72%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}
.ImageOverlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.Footer {
  background-color: rgb(185, 219, 190);
  width: 70vw;
  height: 700px;
  margin-left: 13%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.WarningLabel {
  padding: 50px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.socialMediaButtons {
  display: flex;
  justify-content: center;
}
