#background {
  background-color: antiquewhite;
}
.ProductImage {
  width: 200px;
}
.Container {
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(20, 20, 31),
    rgb(20, 20, 31)
  );
  width: 70%;
  margin: 0 auto;
  /* height: 950vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.singleProductContainer {
  background-image: linear-gradient(
    rgb(39, 39, 39),
    rgb(20, 20, 31),
    rgb(20, 20, 31)
  );
  width: 70%;
  margin: 0 auto;
  height: 98vh;
}

html {
  height: 980vh;
  background-image: linear-gradient(
    rgb(39, 39, 39),
    rgb(20, 20, 31),
    rgb(20, 20, 31)
  );
}
.ProductCard {
  background-color: rgb(255, 255, 255);
  margin-left: 60px;
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.TopNav {
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(5, 0, 28);
  display: flex;
  justify-content: space-around;
  height: 5rem;
}
h1 {
  margin: 0;
}
.FormWrapper {
  color: beige;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(24, 115, 115);
  gap: 10vh;
  padding: 10px;
}

.LogInFormWrapper {
  color: beige;
  height: 20vh;
  display: grid;
  /* margin-top: 0px; */
  grid-template-rows: 1fr 1fr;
  background-color: rgb(24, 115, 115);
  gap: 10vh;
  padding: 40px;
}
.LoginFormLabel {
  margin-left: 15rem;
  font-size: 20px;
  padding: 10px;
}

.UserInfo {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.registerbutton {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.LogInbutton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(112, 112, 112));
}
.ProductImage {
  max-height: 300px;
  margin-top: 20px;
  margin-left: 40px;
}
.PriceandCartDisplay {
  display: flex;
  justify-content: space-between;
}
